node_modules/
.next

.venv/
__pycache__/
cache/
data/
.env
.env.*
.vscode
rivemu
.machine_config.json
InputBox.json
.*.tag

out/
cache/
node_modules/
bindings/
artifacts/
broadcast/
deploys/

dapp.json
.localhost.env
.cartesi
yarn.lock
